@import "tailwindcss";

:root {
  --bg-color01: #fff;
  --bg-color02: #f5f5f5;
  --bg-color03: #e7e7e7;
  --bg-color04: #333;
  --bg-color05: #202020;

  --color01: #fff;
  --color02: #f5f5f5;
  --color03: #e7e7e7;
  --color04: #333;
  --color05: #202020;


}


body {
  background: var(--bg-color02);
  color: var(--bg-color05);
  font-family: Arial, Helvetica, sans-serif;
}